@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

a,
.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
