@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RA";
  src: url("../../public/fonts/Rajdhani-SemiBold.woff") format("woff2"),
    url("../../public/fonts/Rajdhani-SemiBold.woff.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

a,
.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card .main-title {
  font-size: 35px;
  font-family: "RA";
}
